aniso8601==9.0.1
asgiref==3.4.1
attrs==21.2.0
autopep8==1.5.7
Babel==2.8.0
beautifulsoup4==4.11.1
blinker==1.4
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.3
cli-helpers==2.1.0
click==8.0.1
colorama==0.4.4
configobj==5.0.6
cryptography==3.4.7
delegator.py==0.1.1
dicttoxml==1.7.4
dj-database-url==0.5.0
Django==3.2.6
dnspython==2.2.0
flasgger==0.9.5
Flask==2.0.1
Flask-RESTful==0.3.9
frida==15.0.9
frida-tools==10.0.0
gmpy2==2.0.8
gunicorn==20.1.0
html5lib==1.1
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
litecli==1.6.0
lxml==4.8.0
Mako==1.1.4
MarkupSafe==2.0.1
mechanize==0.4.8
mistune0==0.8.4
objection==1.11.0
pexpect==4.8.0
prompt-toolkit==3.0.19
ptyprocess==0.7.0
pyasn1==0.4.8
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.15.0
Pygments==2.9.0
pyinotify==0.9.6
pyOpenSSL==21.0.0
pyotp==2.9.0
pypng==0.20220715.0
pyrsistent==0.18.1
PySocks==1.7.1
python-decouple==3.4
python-dotenv==0.20.0
pytz==2021.1
PyYAML==5.4.1
qrcode==7.4.2
redis==3.5.3
requests==2.26.0
requests-toolbelt==0.9.1
rq==1.10.1
rsa==4.9
semver==2.13.0
simplejson==3.17.6
six==1.16.0
soupsieve==2.3.2
sqlparse==0.4.2
stoyled==0.9
tabulate==0.8.9
terminaltables==3.1.0
toml==0.10.2
tornado==6.1
typing-extensions==4.9.0
unicodecsv==0.14.1
Unipath==1.1
urllib3==1.26.6
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
whitenoise==5.3.0
XlsxWriter==3.0.1
